*{
  margin: 0;
  padding: 0;
  font-family: Poppins;
}
.background{
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: none;
  position:fixed;
  object-fit: cover;
  z-index: -1;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 3000ms ease-in-out;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 120px;
  color: white;
  text-shadow: 0 0 10px black;
}
.nav a {
  color: white;
  text-decoration: none;
}
.nav-logo{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  font-weight: 600;
}
.nav-menu{
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 18px;
  gap: 90px;
}
.nav-item{
  color: white;
}
.nav-contact a{
  border-radius: 50px;
  padding:10px 38px;
  background: #fff;
  color: #262626;
}
.hero{
  margin: 0px 120px;
  margin-top: 270px;
}
.hero-text{
  color: #fff;
  font-size: 110px;
  font-weight: 600;
  line-height: 130px;
}
.hero-explore{
  display: flex ;
  align-items: center;
  gap: 50px;
  width: fit-content;
  margin-top: 70px;
  padding: 5px 30px;
  padding-left: 30px;
  border-radius: 60px;
  background-color: white;
  cursor: pointer;
}
.hero-explore p{
  color: #292929;
  font-size: 20px;
  font-weight: 600;
}
.hero-dot-play{
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}
.hero-dots{
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}
.hero-dot{
  width:15px;
  height: 15px;
  background: #fff;
  border-radius: 9px;
  cursor: pointer;
}
.hero-dot.orange{
  background: orangered;
}
.hero-play{
  display: flex;
  align-items: center;
  gap:30px;
}
.hero-play p{
  color: #fff;
  font-size: 19px;
}
/* aboutUs.css */

.about-us-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  text-align: center;
  height: 100vh;
  padding: 10px 20px 20px;
  box-sizing: border-box;
}

.about-us-content {
  /* max-width: 600px; */
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.about-us h2 {
  font-size: 2.5rem;
  border-bottom: 2px solid #3af;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.about-us p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.about-us a {
  color: #3af;
  text-decoration: none;
  transition: color 0.3s ease;
}

.about-us a:hover {
  color: #1f7;
}

.catalogue-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  /* background-color: #0f0f0f; */
  color: #fff;
}

.catalogue-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.catalogue-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  width: 100%;
}

.catalogue-item {
  background-color: #1a1a1a;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.catalogue-item:hover {
  transform: translateY(-0.5rem);
}

.catalogue-image-container {
  height: 200px;
  overflow: hidden;
}

.catalogue-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.catalogue-item:hover .catalogue-image {
  transform: scale(1.1);
}

.catalogue-details {
  padding: 1.5rem;
}

.catalogue-brand-model {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.catalogue-category,
.catalogue-price,
.catalogue-rating,
.catalogue-release-date {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  opacity: 0.8;
}
.catalogue-futuristic-button {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(to right, #0077b6, #00a2ff);
  border: none;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 119, 182, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6),
    0 0 30px rgba(255, 255, 255, 0.4), 0 0 30px #00ffff, 0 0 70px #00ffff, 0 0 30px #00ffff,
    0 0 30px #00ffff;
}

.catalogue-futuristic-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 0 50px rgba(0, 119, 182, 0.8);
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.6),
    0 0 40px rgba(255, 255, 255, 0.4), 0 0 30px #00ffff, 0 0 30px #00ffff, 0 0 30px #00ffff,
    0 0 0px #00ffff;
}  
.catalogue-background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.catalogue-background-video video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  filter:  brightness(0.8);
}

.news-container {
  /* max-width: 1000px; */
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

h1 {
  text-align: center;
  color: #00ffcc;
  margin-bottom: 30px;
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 255, 204, 0.5);
}


.news-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
}

.news-item {
  border-radius: 10px;
  overflow: hidden;
  
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.news-item:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.news-item img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-bottom: 1px solid #333;
}

.news-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height:max-content;
}

.news-details h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #00ffcc;
  text-shadow: 1px 1px 2px rgba(0, 255, 204, 0.5);
  flex: 1;
}

.news-details p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 10px;
  color: #ccc;
  flex: 1;
}

/* Responsive Design */
@media (max-width: 768px) {
  .news-list {
      grid-template-columns: 1fr;
  }
}
/* ContactUs.css */

.contact-us {
  padding: 50px;
 
  text-align: center;
}

.contact-header {
  margin-bottom: 40px;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.contact-details {
  flex: 1;
  padding: 20px;
  
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-right: 20px;
  text-align: left;
}

.contact-map {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

.contact-map iframe {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 8px;
}

.contact-details h3,
.contact-map h3 {
  color: #333333;
  font-size: 24px;
}

.contact-details p,
.contact-map p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.contact-form {
  margin-top: 50px;
  padding: 20px;
  
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

.contact-form h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-form form {
  display: grid;
  grid-gap: 20px;
}

.contact-form label {
  font-size: 18px;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form textarea {
  resize: vertical;
  height: 120px;
}

.contact-form button {
 
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
}
